
<h1>{{h1}}</h1>
<form>
  <div>
    {{#each buttons}}
    <div class="col-md-auto">
      <input type="submit"
           value="{{this.label}}"
           id="{{this.id}}"
           class="btn-lg btn btn-success {{../class}}">
    </div>
    {{/each}}
    {{#each form}}
    <form id="make-a-graph" class="{{this.id}}">
      {{this.label}}
      <input type="text"
           name="credentials[{{this.id}}]"
           id="{{this.id}}">
  </div>
    {{/each}}
  {{#each submit}}
    <input type="submit"
           value="{{this}}"
           class="btn btn-success graph-creation">
           <input hidden type="text" name="credentials[type]" value="{{../type}}"></input>
  {{/each}}
</form>
