
<h1>{{h1}}</h1>
<form>
  <div>
    {{#each buttons}}
    <div class="col-md-auto">
      <a data-toggle='tooltip'
      data-original-title='{{this.hover}}'>
        <input type="submit"
           value="{{this.label}}"
           id="{{this.id}}"
           class="btn-lg btn btn-success
           {{../class}} ">
        </a>
           </div>
    {{/each}}
    {{#each form}}
    <form id="make-a-graph" class="{{this.id}}">
      {{this.label}}
      <input type="text"
           name="credentials[{{this.id}}]"
           id="{{this.id}}"><br>
  </div>
    {{/each}}
  {{#each submit}}
    <input type="submit"
           value="{{this}}"
           class="btn btn-success graph-creation">
           <input hidden type="text" name="credentials[type]" value="{{../type}}">
  {{/each}}
  </form>
  {{#each startOver}}
    <input type="button"
           id="{{this}}"
           value="Start Over"
           class="btn btn-primary question">
  {{/each}}
